* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}

main {
 

}

.center-block {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.row::after{
content: "";
display: table;
clear: both;
}

.col {
    float: left;
    width: calc((100%/3) - 10px);
    
    line-height: 30px;
    
    background-color: black;
    
    box-shadow:  3px  3px 3px #dedede,
    -3px -3px 3px #dedede,
     3px -3px 3px #dedede,
    -3px  3px 3px #dedede;
}


.centrale {
    margin-left: 15px;
    margin-right: 15px;
}

/* header */

h1 {
    color: #E53170;
    margin-bottom: 40px;
    font-family: 'Fredoka', sans-serif;
}

p {
    margin-bottom: 40px;
}


/* corpo principale */

section {
    margin-bottom: 30px;
}

img {
    height: 100px;
    float: left;
}

span {
    color: white;
    float: left;
    margin-left: 10px;
    
}



a {
    float: left;
    text-decoration: none;
    color: #34CCF2;
    margin-left: 10px;
}





