* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-block {
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

h1 {
    color: #E53170;
    margin-bottom: 30px;
}